## Summer 2022 Data Science Intern Challenge   
## Question 2: 

**by Anqi Li**  
2022/01/10  
For this question you’ll need to use SQL. Follow this link to access the data set required for the challenge. Please use queries to answer the following questions. Paste your queries along with your final numerical answers below.

### a. How many orders were shipped by Speedy Express in total?

``` mysql
SELECT COUNT(OrderID) as OrderQuantity
FROM Orders o LEFT JOIN Shippers s
ON o.ShipperID=s.ShipperID
WHERE s.ShipperName="Speedy Express";
```

In total, **54** Orders were shipped by Speedy Express.

### b. What is the last name of the employee with the most orders?

``` mysql
SELECT LastName FROM Employees
WHERE EmployeeID IN(
SELECT EmployeeID
FROM Orders
GROUP BY EmployeeID
ORDER BY COUNT(*) DESC
LIMIT 1);
```

The last name of the employee with the most orders is **Peacock**.

### c. What product was ordered the most by customers in Germany?

``` mysql
SELECT p.ProductName,SUM(od.Quantity) as TotalQuantity
FROM Products p INNER JOIN OrderDetails od
ON p.ProductID=od.ProductID
INNER JOIN Suppliers s
ON s.SupplierID=p.SupplierID
WHERE s.Country="Germany"
GROUP BY p.ProductID
ORDER BY TotalQuantity DESC
LIMIT 1;
```

**Gumbär Gummibärchen** was ordered the most by customers in Germany.